<!DOCTYPE html>
<!-- HTML5であることを宣言 -->
<html lang="ja">
  <!--日本語であることを宣言-->
  <head>
    <meta charset="UTF-8" />
    <!--文字コード指定-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>時間割</title>

    <!--CSSファイル読み込み-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <h1 id="main_title">時間割(1ページ目)</h1>

    <div id="clock">--:--:--</div>

    <table>
      {% for day, subjects in timetable.items()%}
      <td>{{day}}</td>
      <tr>
        {% for time,subject in subjects.items() %}
        <td>{{time}}</td>
        {% endfor %}
      </tr>
      <tr>
        {% for time, subject in subjects.items() %}
        <td>{{subject}}　</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <p id="data">--</p>

    <!--jsファイル読み込み-->
    <script src="{{url_for('static',filename='main.js')}}"></script>
  </body>
</html>